<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DCSoft - Vývoj webových aplikací</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/style.min.css" rel="stylesheet" />
    <script>
        window.onload = function(){
            let el = document.getElementById("portfolio-holder");
            let el2 = document.getElementById("masthead-portfolio-items");
            el2.innerHTML = el.innerText;
            el.remove();
        };

        function openEditForm(id, name, text, img) {
            let el_ = document.getElementById("portfolio-edit-dialog-window");
            let el = document.getElementById("portfolio-edit-dialog");
            let el2 = document.getElementById("portfolio-edit-dialog-id");
            let el3 = document.getElementById("portfolio-edit-dialog-name");
            let el4 = document.getElementById("portfolio-edit-dialog-text");
            let el5 = document.getElementById("portfolio-edit-dialog-img");
            el.style.display = "flex";
            el2.value = id;
            el3.value = name;
            el4.value = text;
            el5.value = img;

            el_.action = "editPortfolio.php";
        }

        function openAddForm() {
            let el_ = document.getElementById("portfolio-edit-dialog-window");
            let el = document.getElementById("portfolio-edit-dialog");
            let el2 = document.getElementById("portfolio-edit-dialog-id");
            let el3 = document.getElementById("portfolio-edit-dialog-name");
            let el4 = document.getElementById("portfolio-edit-dialog-text");
            let el5 = document.getElementById("portfolio-edit-dialog-img");
            el.style.display = "flex";
            el2.value = "-";
            el3.value = "";
            el4.value = "";
            el5.value = "";

            el_.action = "addPortfolio.php";
        }
    </script>
</head>

<body id="page-top">
    <div id="portfolio-holder">{{ config["portfolioAdminHTML"] }}</div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">DCSoft</a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead login-head bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Administrace</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Settings</p>
            <!-- Masthead Success-->
            <div class="masthead-success">{{ successCode }}</div>
            <form class="masthead-form" action="handleAdmin.php" method="post">
                <!-- Masthead Title Inputfield-->
                <div class="masthead-text">Title</div>
                <input name="title" class="masthead-input" type="text" placeholder="Title..." value="{{ config["title"] }}" />
                <!-- Masthead Logo Inputfield-->
                <div class="masthead-text">Logo</div>
                <input name="logo" class="masthead-input" type="text" placeholder="Logo..." value="{{ config["logo"] }}" />
                <!-- Masthead Subtitle Inputfield-->
                <div class="masthead-text">Subtitle</div>
                <input name="subtitle" class="masthead-input" type="text" placeholder="Subtitle..." value="{{ config["subtitle"] }}" />
                <!-- Masthead About Inputfield-->
                <div class="masthead-text">About</div>
                <textarea name="about" class="masthead-textarea" type="text" placeholder="About us...">{{ config["about"] }}</textarea>
                <!-- Masthead Link Inputfield-->
                <div class="masthead-text">Facebook Link</div>
                <input name="link_fb" class="masthead-input" type="text" placeholder="Facebook link..." value="{{ config["link_fb"] }}" />
                <!-- Masthead Link Inputfield-->
                <div class="masthead-text">Twitter Link</div>
                <input name="link_twitter" class="masthead-input" type="text" placeholder="Twitter link..." value="{{ config["link_twitter"] }}" />
                <!-- Masthead Link Inputfield-->
                <div class="masthead-text">LinkedIn Link</div>
                <input name="link_linkedin" class="masthead-input" type="text" placeholder="LinkedIn link..." value="{{ config["link_linkedin"] }}" />
                <!-- Masthead Link Inputfield-->
                <div class="masthead-text">Dribble Link</div>
                <input name="link_dribble" class="masthead-input" type="text" placeholder="Dribble link..." value="{{ config["link_dribble"] }}" />
                <!-- Masthead Link Inputfield-->
                <div class="masthead-text">More Link</div>
                <input name="link_more" class="masthead-input" type="text" placeholder="More link..." value="{{ config["link_more"] }}" />
                <!-- Masthead Portfolio Inputfield-->
                <div class="masthead-text">Portfolio ({{ config["portfolioLength"] }} položek)</div>
                <div id="masthead-portfolio-items"></div>
                <a class="masthead-link" onClick="openAddForm()">Add Portfolio</a>
                <!-- Masthead Button-->
                <button type="submit" class="masthead-button">Save</button>
                <!-- Masthead Error-->
                <div class="masthead-error">{{ errorCode }}</div>
            </form>
            <div id="portfolio-edit-dialog" class="portfolio-edit-dialog" style="display: none;">
                <form action="editPortfolio.php" method="post" id="portfolio-edit-dialog-window" class="portfolio-edit-dialog-window">
                    <div class="masthead-text">ID</div>
                    <input readonly name="id" id="portfolio-edit-dialog-id" class="masthead-input" />
                    <div class="masthead-text">Name</div>
                    <input name="name" id="portfolio-edit-dialog-name" class="masthead-input" />
                    <div class="masthead-text">Text</div>
                    <textarea name="text" id="portfolio-edit-dialog-text" class="masthead-textarea masthead-textarea-2"></textarea>
                    <div class="masthead-text">Image</div>
                    <input name="img" id="portfolio-edit-dialog-img" class="masthead-input" />
                    <button type="submit" class="masthead-button">Edit/Add</button>
                </form>
            </div>
        </div>
    </header>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/main.js"></script>
</body>

</html>