<div class="masthead-portfolio-item">
    <div class="masthead-portfolio-item-name">{{ data["name"] }}</div>
    <a class="masthead-portfolio-item-link" onClick="openEditForm('{{ data["id"] }}', '{{ data["name"] }}', '{{ data["text"] }}', '{{ data["img"] }}')">Edit</a>
    <a href="deletePortfolio.php?id={{ data["id"] }}" class="masthead-portfolio-item-link">Remove</a>
</div>